{% extends 'core/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 50px">
            <div class="form-group">
                {% for photo in photos %}
                    {% if photo.image  %}
                        <img src="{{ MEDIA_URL }}{{photo.image.url }}" style="height: 300px; margin-top: 10px">
                        <p><a href="/photo_manager/{{ photo.id }}" class="btn btn-default" style="margin-top: 10px;">Подробнее</a></p>
                    {% else %}
                        <p>нет картинки</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}